/* Posicionamento */
.flexRow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


body{
    height: 100vh; /*setar para que o body tenha 100% da altura da tela */
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #4864C0;
    max-height: 200px;
}

.logoBemol{
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin: 40px 0 40px 140px;
}

.firstSection{
    margin-top: 30px;
}

/* Achei melhor chamar a classe da section */
.firstSection h1{
    color: #1D2F8A;
    font-size: 61px;
    font-weight: 700;
    line-height: 67px;
    width: 468px;
    margin-bottom: 20px;
}

.firstSection p{
    font-weight: 400;
    font-size: 16px;
    color: #1D2F8A;
    width: 396px;
    text-align: left;
    line-height: 135%;
    margin-bottom: 15px;
    height: 60px;
}

.linkAbrirConta{
    display: inline-block;
    /* O width não é necessário, por causa do padding */
    /* width: 336px; */
    margin-top: 10px;
    border-radius: 10px;
    padding: 16px 24px 16px 24px;
    background-color: #FFC04A;
    color: #1D2F8A;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.linkAbrirConta:hover{
    background-color: #4864C0;
    color: #FFC04A;
}

/* Não foi aplicado na aula mas mesmo assim eu ativei */
.linkAbrirConta:active{
    background-color: #1D2F8A;
}

.secondSection{
    max-width: 1200px;
    max-height: 700px;
    margin: auto;
    margin-bottom: 60px;
}

.secondSection h6{
    width: 500px;
    color: #1D2F8A;
    margin: auto;
}

.secondSection .regina img{
    height: 570px;
    width: 570px;
}

.cardVantagens{
    flex-wrap: wrap;
    max-width: 450px;
    max-height: 655px;
    justify-content: space-between;
}

.miniCard{
    width: 220px;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.miniCard span{
    display: block;
    max-width: 200px;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    height: 52px;
    color: #1D2F8A;
}

.thirdSection{
    background-color: #4864C0;
    max-width: 1120px;
    max-height: 460px;
    margin: auto;
    border-radius: 70px;
    margin-bottom: 60px;
    padding: 20px;
}

.thirdSectionDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thirdSectionDescription p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-bottom: 60px;

}

.fourthSection{
    max-height: 600px;
    max-width: 1120px;
    margin: 20px auto;
}

.fifthSection {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  #calculatorContainer {
    height: 468px;
  }
  
  #calculatorContainer h3 {
    height: 134px;
    width: 647px;
    font-size: 61px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    color: #1d2f8a;
    margin-bottom: 40px;
  }
  
  #inputValue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  #inputValue input {
    /*mostrar essas alterações*/
    height: 50px;
    width: 416px;
    border: none;
    border-bottom: 2px solid #1d2f8a;
    margin-bottom: 15px;
    outline: none;
    font-size: 25px;
    color: #1d2f8a;
  }
  
  #inputValue span {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #0a102e;
    height: 17px;
    width: 350px;
    margin-bottom: 15px;
  }
  
  #timeInput {
    /*alterações no container tempo*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  
  #timeInput span {
    font-size: 25px;
    color: #1d2f8a;
  }
  
  #timeInput input {
    width: 416px;
  }
  
  .simulatorButton {
    /*estilização do button*/
    border-radius: 10px;
    padding: 2px 5px;
    border: 2px solid #ffc04a;
    color: #1d2f8a;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .simulatorButton:hover {
    border-color: #1d2f8a;
    opacity: 60%;
  }
  
  #simulatorTimeBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .containerSimulatorBox {
    height: 307px;
    width: 434px;
    background-color: #4864c0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 4px;
  }
  
  #simulatorDay,
  #simulatorMonth {
    width: 100%;
  }
  
  .estilizacaoSpan {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: #ffffff;
  }
  
  .points {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .pointsDivOne {
    border-bottom: 2px solid #fff;
    padding-bottom: 15px;
  }
  
  .starsDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
  }
  
  .starsDiv span {
    height: 65px;
    width: 33px;
    font-size: 48px;
    font-weight: 700;
    line-height: 65px;
    text-align: left;
    color: #ffffff;
  }


.sixthSection{
    height: 188px;
    max-width: 1140px;
    margin: auto;
}

.sixthSection h3{
    font-size: 39px;
    font-weight: 700;
    line-height: 51px;
    text-align: left;
    color: #1D2F8A;
    max-width: 500px;
    margin: 30px;
}

.containerBtns{
    height: 188px;
    width: 300px;
    padding: 10px;
}

.linkFaq{
    display: inline-block;
    margin-top: 30px;
    border-radius: 10px;
    padding: 16px 24px 16px 24px;
    border: 3px solid #FFC04A;
    color: #1D2F8A;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.linkFaq:hover{
    background-color: #4864C0;
    color: #FFC04A;
    border: 3px solid #4864C0;
}
.linkFaq:active{
    background-color: #1D2F8A;
}

footer{
    background-color: #4864C0;
    border-radius: 45px 45px 0 0;
    padding: 30px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

footer img{
    height: 96px;
}
.imgRedes{
    height: 96px;
}