h1{
    background-color: blueviolet;
    font-family: monospace;
    color: #fff;
    font-size: 50px;
}

#paragrafo1{
    background-color: brown;
    color: #fff;
}

.fonteRosa{
    color: pink;
}

#xCaboquinho{
    background-color: cadetblue;
    width: 150px;
    padding: 30px;
    border: 10px dotted pink;
    margin: 50px;
}

div{
    background-color: yellowgreen;
    margin: 5px;
    border-radius: 20px 0 20px 0 ;
}

span{
    background-color: green;
    display: inline-block;
    width: 100px;
    height:50px;
}

a{
    background-color: green;
}

/* O display flex torna os elementos filhos de uma tag em caixas flexíveis */
#container{
    display: flex;
    flex-direction: row-reverse;
    background-color: gray;
    height: 100px;
    justify-content: center;
    align-items: center;
}